<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="this is a test of my skills">
		<meta name="keywords" content="reactjs, javascript, html,css">
		<title>react js</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<header>
			<ul class="lista">
                <li>ITEM</li>
                <li>ITEM</li>
                <li>ITEM</li> 
                <li>ITEM</li> 
                <li>ITEM</li>      
            </ul>
		</header>
		<nav class="nav">
			
		</nav>
		<section class="section">
			
		</section>
		<aside class="aside">
			
		</aside>
		<footer class="footer">
			
		</footer>
	</body>
</html>

